<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segumiento veicular MEC-CAR GT</title>
        <script src="https://kit.fontawesome.com/82559006af.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./seguimineto.css">
</head>
<body>  
    

    <!--MENUS-->
    <section class="menu-horizontal">
        <div class="logo">
            <a href="#menu" class="nav-menu">
                <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
            </a>
            <a href="#" class="nav-menu-second">
                <i class="fa-solid fa-x" style="color: #ffffff;"></i>               
            </a>
            <ul class="elementoslista" id="menu">
                <li class="element">
                    <a href="./inicio.html" class="elementolink">
                    <span class="elementoslispan">Gestionar Usuarios</span>
                    <i class="fa-solid fa-angle-down" style="color: #ffffff;" id="arrow"></i>

                    <input type="checkbox" class="elementos-check">
                    </a>

                    <div class="elementoslista-content">

                        <ul class="elementos-sub">

                            <li class="elementos-li">
                                <a href="./registrar.html" class="anchor">Registar usuarios</a>
                            </li>
                            <li class="elementos-li">
                                <a href="./vistaUsuariosRegistrados.html" class="anchor">Consultar usuarios</a>
                            </li>

                        </ul>
                    </div>
                </li>
                <li class="element">
                    <a href="./inicio.html" class="elementolink">
                    <span class="elementoslispan">Gestionar Vehículo</span>
                    <i class="fa-solid fa-angle-down" style="color: #ffffff;" id="arrow"></i>

                    <input type="checkbox" class="elementos-check">
                    </a>

                    <div class="elementoslista-content">

                        <ul class="elementos-sub">

                            <li class="elementos-li">
                                <a href="./registarVehiculo.html" class="anchor">Registar vehículo</a>
                            </li>
                            <li class="elementos-li">
                                <a href="#" class="anchor">Consultar vehículo</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="element">
                    <a href="#" class="elementolink">
                    <span class="elementoslispan">Gestion oreden de trabajo</span>
                    <i class="fa-solid fa-angle-down" style="color: #ffffff;" id="arrow"></i>

                    <input type="checkbox" class="elementos-check">
                    </a>

                    <div class="elementoslista-content">

                        <ul class="elementos-sub">

                            <li class="elementos-li">
                                <a href="#" class="anchor">Crear oren de trabajo</a>
                            </li>
                            <li class="elementos-li">
                                <a href="#" class="anchor">Consultar orden de trabajo</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="element">
                    <a href="#" class="elementolink">
                    <span class="elementoslispan">Historiales</span><i class="fa-solid fa-angle-down" style="color: #ffffff;" id="arrow"></i>
                    <input type="checkbox" class="elementos-check">
                    </a>
                    <div class="elementoslista-content">
                        <ul class="elementos-sub">
                            <li class="elementos-li">
                                <a href="#" class="anchor">Crear historial</a>
                            </li>
                            <li class="elementos-li">
                                <a href="#" class="anchor">Consultar y/o modificar historial</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!--ESTE ELEMENTO ES DESPLEGABLE-->
                <li class="element">
                    <a href="./inicio.html" class="elementolink">
                    <span class="elementoslispan">Cerar Sesion</span>
                    </a>
                </li>
            </ul>

        </div>
</section>
      <nav class="vertical">
        <div class="caja">
          <a href="./inicio.html">Inicio</a>
          <a href="./perfil.html">Perfil</a>
          <a href="./login.html">Cerrar Sesion</a>
        </div>
      </nav>


      <!--VISTA SEGUIMIENTO-->

<div class="carretera">
    <div class="pista1"></div>
    <div class="pista2"></div>
    <div class="pista3"></div>
    <div class="pista4"></div>
    <div class="pista5"></div>
</div>


    <div class="trasncurso">
        <i id="valeria" class="fa-solid fa-child-dress" style="color: #ff0095;"></i>
    </div>

    
    <div class="linea">
        
        <div class="inicio">
                <i id="car" class="fa-solid fa-car-side" style="color: #ffffff;"></i>    
        </div>
        
        <div class="inspeccion">
                <i id="serch" class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>     
  
        </div>
        
        <div class="reparacion">
                <i id="senting" class="fa-solid fa-screwdriver-wrench" style="color: #ffffff;"></i>
        </div>
        
        <div class="finalizacion">
                <i class="fa-solid fa-flag-checkered" style="color: #ffffff;"></i>
        </div>
        
        <div class="elemento1">
            <p>Su vehículo se encuentra en la etapa de inicio.</p>
        </div>

        <div class="elemento2">
            <p>Tu vehículo esta es la zona de inspección.</p>
        </div>

        <div class="elemento3">
            <p>Tu vehículo esta en el mantenimiento.</p>
        </div>

        <div class="elemento4">
            <p>Tu vehículo finalizo su mantenimiento.</p>
        </div>

    </div>

    


    <script src="./segumiento.js"></script>
</body>
</html>