<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de seguimiento MEC-CAR GT</title>
    <link rel="stylesheet" href="../static/js/seguimientoAS.js">
</head>
<body>
    
    <h1>CONFIGURACION DE SEGUIMIENTO</h1>

    <div class="tda">
        <section class="acciones">
            <p>Reiniciar Proceso</p>    
            <button id="rc">Reiniciar</button>

            <p>finalizar proceso</p>
            <button id="fn">Finalizar</button>
        </section>
    </div>

    <script src="../static/js/seguimientoAS.js"></script>
</body>
</html>