<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segumiento veicular MEC-CAR GT</title>
        <script src="https://kit.fontawesome.com/82559006af.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/seguimiento.css">
</head>
<body>  
    

    
    <div class="volver">
        <a href="/ini4">
            <i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
        </a>
    </div>

      <!--VISTA SEGUIMIENTO-->

<div class="carretera">
    <div class="pista1"></div>
    <div class="pista2"></div>
    <div class="pista3"></div>
    <div class="pista4"></div>
    <div class="pista5"></div>
</div>


    <div class="trasncurso">
        <i id="valeria" class="fa-solid fa-child-dress" style="color: #ff0095;"></i>
    </div>

    
    <div class="linea">
        
        <div class="inicio">
                <i id="car" class="fa-solid fa-car-side" style="color: #ffffff;"></i>    
        </div>
        
        <div class="inspeccion">
                <i id="serch" class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>     
  
        </div>
        
        <div class="reparacion">
                <i id="senting" class="fa-solid fa-screwdriver-wrench" style="color: #ffffff;"></i>
        </div>
        
        <div class="finalizacion">
                <i class="fa-solid fa-flag-checkered" style="color: #ffffff;"></i>
        </div>
        
        <div class="elemento1">
            <p>Su vehículo se encuentra en la etapa de inicio.</p>
        </div>

        <div class="elemento2">
            <p>Tu vehículo esta es la zona de inspección.</p>
        </div>

        <div class="elemento3">
            <p>Tu vehículo esta en el mantenimiento.</p>
        </div>

        <div class="elemento4">
            <p>Tu vehículo finalizo su mantenimiento.</p>
        </div>

    </div>

    


    <script src="../static/js/seguimiento.js"></script>
</body>
</html>