*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* quitamos el displey flex y sus demas caracteristicas */
/* le colocamos height: auto; para que se adapte el tamaño */
body{
    height: auto; 
    background-image: url('../../static/imgs/fondoimg/fondo2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;  
    height: 100vh;
    background-size: cover;
}

.volver{
    position: relative;
    top: 30px;
    width: 50px;
    height: 50px;
    left: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.volver i{
    font-size: 3em;
}

/* quitamos el max-width y ajustamos el tamaño con solo el width */
/* en el margin le colocamos el margen para que tenga espacio arriba y abajo y el auto es para colocar el espacio horizontal centrado */
.container{
    width: 50%;
    background: rgba(0, 0, 0, 0.5);
    padding: 28px;
    margin: 5px auto;
    border-radius: 10px;
    border: 3px solid white;
    backdrop-filter: blur(15px);
    position: relative;
    top: 5px;
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-top: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.main-user-info{
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    width: auto;
    width: white;
    padding-bottom: 10px;
}

.user-input-box label{
    width: auto;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 100%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}

.menus{
    width: 100%;
    padding-bottom: 20px;
}

.menus label{
    width: auto;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}
.menus select{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}


.form-submit-btn input{
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: rgba(63, 114, 76, 0.7);
    cursor: pointer;
    cursor: not-allowed;
}

.form-submit-btn input:hover{
    background: rgba(56, 204, 93, 0.7);
    color: rgb(255, 255, 255);
}




@media(max-width: 600px){
    .main-user-info{
        grid-template-columns: repeat(1,1fr);
    }
    .container{
        min-width: 280px;
    }
}
@media screen and (max-width: 500px) {
    .volver{
        top: 10px;
    }
}