* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    background: url(../imgs/fondoimg/fondo2.jpeg);
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #fff;
    margin: 20px 0;
  }
  #alert {
    padding: 15px;
    margin: 15px auto; /* Centrado horizontal */
    border-radius: 8px;
    font-weight: bold;
    color: #000000;
    display: none; /* Inicialmente oculto */
    width: 80%; /* Ancho reducido a un 80% */
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(45deg, #f8fff8, #f6fbff); /* Fondo degradado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: background 0.3s, color 0.3s;
    margin-left: 10%; /* Ajusta según sea necesario */
    margin-right: 10%; /* Ajusta según sea necesario */
}

#alert.show {
    display: inline-block; /* Mostrar solo cuando tiene la clase 'show' */
}

#alert.success {
    background: linear-gradient(45deg, #4CAF50, #2E7D32); /* Fondo degradado verde */
}
  .formulario {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .formulario label {
    width: 100%;
    color: #fff;
    margin-bottom: 5px;
  }
  
  .formulario input,
  .formulario textarea,
  .formulario select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #8a0e0e;
    background: transparent;
    outline: none;
  }
  
  .formulario select {
    appearance: none;
  }
  
  .pass {
    background-color: #8a0e0e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .pass:hover {
    background-color: #af0606;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(35, 32, 32, 0.896); /* Fondo semi-transparente (ajusta el último valor para la opacidad) */
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-top: 30px;
    max-height: 650px;
    overflow-y: auto;
  }
  