<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/solicitud.css">
    <title>Orden de trabajo</title>
    <script src="https://kit.fontawesome.com/341f4b76d6.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <a class="icon" href="inicio.html">
            <i class="fa-sharp fa-solid fa-arrow-left" style="color: #ffffff;"></i>
        </a>

        <ul>

        </ul>
    </nav>

    <form action="ORDEN.solicitud" method="post" >

        <div class="solicitud">

            
           
            <div class="icon1"> 
                <i class="fa-solid fa-user-gear" style="color: #ffffff;"></i>
            </div>

            <div class="first"> 
                <label class="text-label"> Solicitud Cliente</label>
                <input type="text" name="cliente" required>
            </div>

            <div class="icon2">
                <i class="fa-solid fa-gears" style="color: #ffffff;"></i>
            </div>

            <div class="second"> 
                <label> Servicio a realizar</label>
                <input type="text" name="tecnico" required>
            </div>

        </div>

        <div class="btn">
            <button class="button" type="submit">Siguiente</button>
        </div>
    </form>

    
</body>